*{
    margin: 0px;
    padding: 0px;
}
:root{
    
   background-color: aliceblue;
    
} 
html {
    scroll-behavior: smooth;
  }
  
body{
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: grey  0.5px 1px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: pink;
    color:  rgb(253, 0, 139);
    padding: 20px 0px;


}


nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: purple;
    letter-spacing: 1px;
}

nav ul li a:hover{
background-color:whitesmoke;  
color: purple;
border-radius: 5px;

}
nav ul{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.get-in-touch{
    font-size:  20px; ;
    font-weight:700 ;
    color: rgb(253, 0, 139) ;
    border-bottom: 2px solid black;
}
.logo-heading {
    font-weight: 600;
    font-size: 20px;
    color:rgb(253, 0, 139);
  }
  
  .name {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color:black;
    color:  rgb(253, 0, 139);
  }



/* content*/
#content{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.model{
    height:450px ;
    width:450px ;
    
}
.model img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.main-text{
    padding: 10px 10px;
    
}

.main-text h1 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
    color:  rgb(253, 0, 139);

}
.main-text .name{
    font-size: 40px;
}


.main-text p {

font: size 1em; ;
font-weight:500 ;
 color: rgb(34, 34, 34);

}

.portfolio-button {
    width: 190px;
    height: 44px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 5px;
    color: white;
    background-color: rgb(253, 0, 139);
   
 }
 /* skill section */
#skills
{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: auto auto 50px auto;
    padding: 20px 0px;
   

    
}
.skill-heading span{
    color:rgb(223, 2, 87);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 900;

}
.skill-heading h2{
    color: black;
    font-size: 45px;
    margin: 0px;
    font-weight:600px;
    letter-spacing: 1px;
}
.skill-text{
    
    width: 100%;
}

.skill-img{
  width: 70%;
 
  

}
.skill-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.s-box-container {
    margin: 15px;
    
    
}

.skill-box
{
        display: flex;
        margin: 25px 0px;
     
  
}
.s-box-icon{
    margin-right: 15px;
}

.s-box-icon i{
    height: 45px;
    width: 45px;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50%;
    place-items: center;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  25px;
    color:rgb(223, 2, 87) ;
}
.s-box-text strong {
    color: black;
    margin: 0px;
    font-size: 15px;
    font-weight: 600;
  }

.s-box-text span{
    margin: 0px;
    color:black;
    font-weight:600;
    font-size: 15px;

}
.s-box-text p{
   color: rgb(34, 34, 34);
    font-size: 15px;
}

/* projects section */
.one{
    background-image: url(./image/res.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;

}
.two{
    background-image:url(./image/github.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.three{
    background-image:url(./image/quiz.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}







.my-projects span{
    font-size:20px ;
    font-weight: 900;
}



#my-projects{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin: auto auto 50px auto;
    width: 90%;
    padding-top: 10px;
    

}

.project-showcase{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.project{
    width: 350px;
    margin: 30px 5px;
    
    height: 250px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
}




.project #hide
{
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    z-index: 1000;
    opacity: 100%;
    align-items: center;
    border-radius: 15px;
}

.project:hover #hide{
    
    visibility: visible;
    background-color: rgba(255, 255, 255,0.9);
    border: 1px solid black;

}
.project-text {
    color: black;
    font-size: 18px;
    padding: 20px;
    justify-content: space-evenly;
  }
  .project-btn {
    background-color: rgb(223, 2, 87) ;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
  }
  
  .project-btn:hover {
    background-color:rgb(223, 2, 87) ;
    color:white;
    cursor: pointer;
  }

/* Client Section */

#client{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90%;
margin: auto auto 50px auto;
padding: 50px 0px;
}



.c-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.client-box
{
    
    height: 300px;
    width: 250px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: pink;
    color: black;
    
  

}
.client-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    object-fit: contain;
    border: 1 px solid black;
}

.star {
    display: flex;
    margin: 10px 0px 0px 0px;
  }
.star i{
    color:gold;
    font-size:20px;
}


.client-box p{
    color: black;
    font-size: 14px; 
    margin: 10px 0px;  
    text-align: center;
   
}
.client-box a {
    width: 190px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgb(223, 2, 87) ;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid black;
  }
  
  .client-box a:hover {
    color:black;
    background-color: rgb(223, 2, 87);
    border: 1px solid black ;
  }



/* Contact Us */

#contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto auto 50px auto;

}

.contact img{
    height: 50%;
}

.contact h3 {
    font-size: 32px;
    margin: 20px;
  }

  
  .contact-input {
    width: 400px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .contact-input input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: black;
  }
  .contact-input a {
    width: 200px;
    height: 40px;
    background-color: rgb(223, 2, 87) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto 10px;
    font-size: 14px;
  }
  .clinet-heading{
      width: 100%;
      padding: 0px 10px;
      display: flex;
      justify-content: center;
  }
  .clinet-heading span{
      color: rgb(223, 2, 87);
      font-size: 20px;
    font-weight: 900;
  }
  .clinet-heading h2{
    color: black;
    font-size: 45px;
    margin: 0px;
    font-weight: 600px;
    letter-spacing: 1px;
  }
  footer{
      display: flex;
      padding: 20px 50px;
      justify-content: space-around;
      color: white;
      background-color: rgb(223, 2, 87);
  }
  .me{
      font-size: 20px;
      font-weight: 700;
      color: white;
  }

  @media only screen and (max-width: 459px){
    nav ul li a{

        margin: 1px;
        padding: 0px 10px;
        font-size: 12px;
        letter-spacing: 0px;
    
    }
  }
  @media only screen and (max-width: 575px){
    nav ul li a{

        margin: 2px;
        padding: 0px 15px;
    
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer p{
        margin: 5px;
        text-align: center;
    }
    .contact img{
        width: 100%;
    }
    

  }
  @media only screen and (max-width: 931px){
nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    flex-direction:column ;
   
}
.model img{
   margin-top: 10px;
}
.skills{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-showcase{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.skill-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}


